
// COLORS

$color-primary: #3d60f6;

$color-secondry: #000;
$color-tretiary: #000;

$color-white: #fff;

$color-black: #182130;

$color-grey: #7f7f7f;
$color-grey--2: #fafafa;
$color-grey--3: #c5c8c7;

$color-blue--light: #f5f8f8;
$color-blue--1: #dae2f8;

$color-purple--light: #a0b2fb;

$color-yellow--1: #fcbc4d;
$color-yellow--light: #fff0da;

$color-green--1: #36c197;
$color-green--light: #daf0e9;












// FONTS

$font-family-main: "Nunito";
$font-family-second: "sans-serif";

// GRID SYSTEM

$grid-width: 104rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;