.feat-card {
  background-image: linear-gradient(
    to right bottom,
    $color-white 10%,
    $color-blue--light 90%
  );
  height: 30rem;
  padding: 3rem 4rem;
  text-align: center;
  border-radius: 20px;
  background-size: 100%;
  transition: all 0.4s;

  @include addMediaQuery(tablet) {
    height: auto;
  }

  &__photo {
    width: 91%;

    @include addMediaQuery(tablet) {
      width: 75%;
    }

    &--3 {
      width: 65%;
      display: block;
      margin: 0 auto;
    }
  }

  &:hover {
    transform: translateY(-2rem);
    background-size: 207%;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.05);
  }
}
