.food {
  background-image: url("../img/blob.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 53rem;
  position: relative;

  @include addMediaQuery(tablet) {
    background-size: 67%;
    height: 42rem;
  }

  @include addMediaQuery(phone-l) {
    padding: 10rem;
    height: auto;
  }

  img {
    position: absolute;
    width: 63%;
    left: 19%;
    top: 30%;

    @include addMediaQuery(tablet) {
      width: 43%;
      left: 28%;
    }

    @include addMediaQuery(phone-l) {
      width: 43%;
      top: 40%;
    }
  }
}
