.form {
    display: flex;
    align-items: center;

    &__input-container {
        display: flex;
        align-items: center;
    }

    &__input {
        border: none;
        border-radius: 10px;
        outline: none;
        background-color: rgba($color-primary, 0);
        padding: 1rem 1.2rem;
        margin-right: 1.25rem;
        box-shadow: 0 0.3rem 2rem rgba(0,0,0, 0.05);

        &--width-large {
            width: 40rem;
        }

        &--width-small {
            // width: 12rem;
            width: 100%;
        }

        &::-webkit-input-placeholder {
            font-size: 0.85rem;;
            font-weight: 700;
            color: $color-grey--3;
        }
    }
}