.header {
  &__text {
    margin-top: 10rem;

    @include addMediaQuery(tablet) {
      text-align: center;
      margin-top: 3rem;
    }
  }

  &__google-badge {
    width: 40%;

    @include addMediaQuery(tablet) {
      width: 25%;
    }
  }

  &__apple-badge {
    width: 40%;
    @include addMediaQuery(tablet) {
      width: 25%;
    }
  }

  &__hero-photo {
    width: 75%;
    margin-top: 10rem;

    @include addMediaQuery(tablet) {
      margin-top: 1.5rem;
      width: 100%;
    }
  }
}
