.navigation {
  z-index: 10;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2.5rem 0;

    @include addMediaQuery(tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__logo-box {
    justify-content: flex-start;

    @include addMediaQuery(tablet) {
      margin-bottom: 1.5rem;
    }
  }

  &__logo {
    font-family: "Lato", sans-serif;
    font-size: 2.2rem;
    font-weight: 900;
    color: $color-black;
  }

  &__nav {
    justify-content: center;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: baseline;

    @include addMediaQuery(tablet) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
    }
  }

  &__item:not(:last-child) {
    margin-right: 4rem;

    @include addMediaQuery(tablet) {
      margin-bottom: 1rem;
      margin-right: 0;
      width: 6rem;
      text-align: center;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: $color-black;
  }
}
